.bigcircle {
	width: 3em;
	height: 3em;
	-moz-border-radius: 3.5em;
	-webkit-border-radius: 3.5em;
	border-radius: 3.5em;
}

.smallcircle {
	width: 3em;
	height: 3em;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}

.small {
	background: #CCCCCC;
	margin: 0em;
}

.big {
	background: #AAAAAA;
	margin: 0em;
	padding: 2em;
}

.l1 {
	position: relative;
	left: 0em;
	top: 0em;
}

.l2 {
	position: relative;
	left: 21em;
	top: -7em;
}

.l3 {
	position: relative;
	left: 42em;
	top: -14em;
}

.hline1 {
	width: 24em;
	height: 3em;
	background: #99ff66;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	position: relative;
	top: 2em;
	left: 2em;
}

.lline1 {
	width: 3em;
	height: 24em;
	background: #99ff66;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	position: relative;
	top: 2em;
	left: 2em;
}

.hline2 {
	width: 24em;
	height: 3em;
	background: #ff9966;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	position: relative;
	top: 2em;
	left: 2em;
}

.lline2 {
	width: 3em;
	height: 24em;
	background: #ff9966;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	position: relative;
	top: 2em;
	left: 2em;
}

.linebeforeh1l1 {
	position: absolute;
	top: 0em;
	left: 0em;
}

.linebeforeh1l2 {
	position: absolute;
	top: 0em;
	left: 21em;
}

.linebeforeh1l3 {
	position: absolute;
	top: 0em;
	left: 42em;
}

.linebeforeh2l1 {
	position: absolute;
	top: 21em;
	left: 0em;
}

.linebeforeh2l2 {
	position: absolute;
	top: 21em;
	left: 21em;
}

.linebeforeh2l2 {
	position: absolute;
	top: 21em;
	left: 42em;
}

.linebeforeh3l1 {
	position: absolute;
	top: 42em;
	left: 0em;
}

.linebeforeh3l2 {
	position: absolute;
	top: 42em;
	left: 21em;
}

.linebeforeh3l3 {
	position: absolute;
	top: 42em;
	left: 42em;
}

h1l1 {
	position: absolute;
	top: 0em;
	left: 0em;
}